<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head></head>
<body style="background-image: url('/images/mask.png');background-repeat: no-repeat; height:510px !important; width:410px; " >
<div style="padding-top:50px; padding-left:10px;">
    <div  style="display:block; width:375px; height:420px; overflow-y:auto "><div id="includedContent" data-th-utext="${quest.questText}"></div>


    </div>
</div>
</body>
</html>