<!--
* @author Grzegorz Nowakowski
-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head th:replace="fragments/header :: header(~{this :: title})">
    <meta charset="UTF-8">
    <title>Aion PowerBook DB</title>
</head>
<body>
<div th:replace="fragments/navibar :: navibar"></div>


<div th:replace="fragments/javascript :: js"></div>
</body>
</html>